<div class="topmenu">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-left">
      <span class="logo">movie-admin</span>
      <span class="glyphicon glyphicon-list"></span>
      <div class="search-wrap">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" name="search" placeholder="search for...">
      </div>
      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-right">
      <!-- <demo-dropdown-basic></demo-dropdown-basic> -->
      <span class="glyphicon glyphicon-bell"></span>
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="user-avatar"><img src="assets/img-seller-avatar.png"></span>
    </div>
  </div>
</div>